<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <script src="/JS/adi-script.js"></script> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/CSS/user.css">
    <link rel="stylesheet" href="/CSS/jquery-ui.css">
    

</head>
<body>
<section id="header">
    <a href="home">
        <img src="/IMG/logo.png" style="max-height: 70px; width: auto; object-fit: contain;">
    </a>
        <div>
            <ul id="navbar">
                <li><a href="home">Home</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a class="active" href="user">Profile</a></li>
                <li>
                    <i id="cart-icon" class="fa fa-shopping-bag" aria-hidden="true"></i
                    ><span id="cart-quantity"></span>
                  </li>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar" class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </section>
    
    <div id="popup_message" style="display: none; width: 100%; background-color: #cff307; color: black; text-align: center; padding: 10px; z-index: 1000;">
    User profile updated successfully!
</div>

   

    
      
    <article id="main">
        <div id="head_div">
            <section >
                <h2> Profile Dashboard </h2>
                <h3> Welcome to SiSiManu profile portal </h3>
                
            </section>
           <!--<div >
                <div> Hello, <span> User</span> </div>
            </div>  -->  
        </div>
        <section id="sidelist" > 
    <!-- Account Settings Section -->
    <h3 >Account Settings</h3>
    <ul style="list-style: none; text-align: left; "> 
        <!-- Help and Support Modal Button -->
        <li> <button onclick="openModal()"> <img  id="img1"  src="../img/customer-service.png" > Help and Support</button> </li><br>
        <!-- Security Modal Button -->
        <li> <button onclick="openModal_2()"> <img  id="img1"  src="../img/shield.png" > Security</button> </li><br>
        <!-- Delete Account Modal Button -->
        <li> <button onclick="openModal_3()"><img  id="img1"  src="../img/add-user.png" > Delete Account</button> </li><br>
        <!-- Additional Features Modal Button -->
        <li><button onclick="openModal_4()"><img  id="img1"  src="../img/paper.png" > Additional Features</button> </li><br>
        <!-- Logout Button -->
        <li><button onclick="window.location.href='../php/logout.php';" > <img id="img1" src="../img/power.png"> Log Out </button> </li>
    </ul>

    <!-- Help and Support Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span><br>
            <!-- FAQ Accordion -->
            <div class="accordion">
                <!-- FAQ Items -->
                <div class="accordion-item">
                    <div  class="accordion-header">1. What should I do if I encounter an error while using the platform?</div>
                    <div class="accordion-content">
                        <p>If you encounter any errors or technical issues while using the platform, please try refreshing the page or logging out and logging back in. If the problem persists, please contact our support team for assistance</p>
                    </div>
                </div>
                        <div class="accordion-item">
                        <div class="accordion-header">2. How can I update my account information?</div>
                        <div class="accordion-content">
                            <p>You can update your account information, such as your name, email address, and contact details, by navigating to the "Profile Information" section of your account settings. Make the necessary changes and save them by clicking on the update button.</p>
                                                
                        </div>
                    
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">3. Is my personal information secure on this platform?</div>
                        <div class="accordion-content">
                            <p>Yes, we take the security and privacy of your personal information seriously. We employ robust security measures to protect your data from unauthorized access, misuse, or disclosure. For more information about our privacy practices, please refer to our Privacy Policy.</p>
                                    
                        </div>
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">4. How can I report an issue or provide feedback?</div>
                        <div class="accordion-content">
                            <p>  If you encounter any issues while using the platform or have suggestions for improvement, we encourage you to reach out to our support team or use the feedback form provided on the platform. Your feedback is valuable to us, and we appreciate your input.</p>
                                                        
                        </div>
                    
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">5. What are the system requirements for using this platform? </div>
                        <div class="accordion-content">
                            <p>To ensure optimal performance and compatibility, please make sure you're using a supported web browser and that your device meets the minimum system requirements. You can find more information about supported browsers and system requirements in the platform's documentation.</p>
                                                        
                        </div>
                    
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">6. How can I contact customer support for further assistance?</div>
                        <div class="accordion-content">
                            <p>If you need further assistance or have specific questions that aren't addressed in the FAQs, please don't hesitate to contact our customer support team. You can reach us via email, phone, or live chat during our business hours, and we'll be happy to assist you.</p>
                                                        
                        </div>
                    
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">7. How do I contact customer support?</div>
                        <div class="accordion-content">
                            <p> You can reach our customer support team by phone, email, or live chat. Our support representatives are available to assist you with any questions or issues you may have.</p>
                                                            
                        </div>
                    
                        </div>
                  </div>
                </div>
            </div>

            <div id="myModal_2" class="modal_2">
                <div class="modal-content_2">
                  <span class="close_2">&times;</span>

                  
                    <div class="accordion">
                      <div class="accordion-item">
                        <div class="accordion-header">Password requirements : </div>
                        <div class="accordion-content">
                            <ol><li>Your password must be at least 8 characters long.</li>
                                <li>Make sure your password is strong:
                                    <ul>
                                        <li>Include numbers</li>
                                        <li> Include alphabets with upper and lower case</li>
                                        <li> Include symbols and characters like @,$ etc.</li>
                                        <li>Make sure you donot use the same password for other sites </li>
                                        <br><br>
                                    </ul>
                                </li>
                                </ol>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">Change your Password : </div>
                        <div class="accordion-content">
                            <p>Click the link below to change your password.</p>
                                <p><a href="../../Week12/html/password_change">Change Password</a></p>                  
                        </div>
                    
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">Forgot Password : </div>
                            <div class="accordion-content">
                                <p>If you have forgotten your password please click the link below to change your password.</p>
                                    <p><a href="../../Week12/html/forgot_password">Forgot Password</a></p>        
                            </div>
                        </div>
    
                      </div>
                    </div>
                </div>
            </div>

            
            <div id="myModal_3" class="modal_3">
                <div class="modal-content_3">
                  <span class="close_3">&times;</span>
        
                  <p style="color: red;"> If you delete this account : </p>
                  <p style="color: red;"> 1. The account will be deleted from all of your devices</p>
                  <p style="color: red;">2. All of your activities and orders will be deleted</p>
                  <p style="color: red;">Your items in the shopping cart will also be removed</p>
                  <br>
                  <br>
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header">Report your problem instead:</div>
                      <div class="accordion-content">
                        <p> To report your problem please either contact the help and support team or use the complaint form provided on the platform </p>
                      
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header">Delete Account</div>
                      <div class="accordion-content">
                        <div id="message"></div>
            
                            <form id="deleteAccountForm">
                                <label for="confirm">Are you sure you want to delete your account?</label><br>
                                <input type="checkbox" id="confirm" required>
                                <button type="submit">Delete Account</button>
                            </form>
                       </div>
                      </div>
                    </div>
                </div>
                 
                  
                </div>
            </div>
        

            <div id="myModal_4" class="modal_4">
                <div class="modal-content_4">
                  <span class="close_4">&times;</span>
                  <div class="accordion">
                        <div class="accordion-item">
                        <div class="accordion-header">1. Membership Benefits:</div>
                        <div class="accordion-content">
                            <li>Unlock exclusive benefits and access premium features with our membership plans.</li>
                            <li>Enjoy priority support, early access to new features, and member-only discounts.</li>
                            <li>Elevate your experience with personalized content, tailored recommendations, and advanced customization options.</li>
                        
                        </div>
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">2. Subscription Plans: </div>
                        <div class="accordion-content">
                            <li>Choose from our flexible subscription plans designed to fit your needs and budget.</li>
                            <li>Select the plan that best suits you, whether it's monthly, annual, or a one-time purchase.</li>
                            <li>Gain unlimited access to our platform with no ads, interruptions, or hidden fees.</li>
                            
                        </div>
                        </div>
                        <div class="accordion-item">
                        <div class="accordion-header">3. Customization Options:</div>
                        <div class="accordion-content">
                            <li>Tailor your subscription experience with customizable settings, preferences, and profiles.</li>
                            <li>Fine-tune your membership to align with your interests, goals, and preferences.</li>
                            <li>Enjoy a personalized experience that adapts to your unique needs and preferences.</li>
                        
                        </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">4. Cancellation and Refund Policy:</div>
                            <div class="accordion-content">
                                <li>Rest assured with our hassle-free cancellation and refund policy, giving you peace of mind.</li>
                                <li>Cancel your subscription anytime with no strings attached, and receive a prorated refund for unused portions.</li>
                                <li>Our customer support team is here to assist you every step of the way, ensuring a smooth and seamless experience.</li>
                                
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header"> 5. Community Engagement:</div>
                            <div class="accordion-content">
                                <li>Join our vibrant community of members and connect with fellow enthusiasts, experts, and creators.</li>
                                <li>Participate in exclusive events, workshops, and webinars curated specifically for our members.</li>
                                <li>Share your ideas, feedback, and suggestions to help shape the future of our platform and community.</li>
                            
                            </div>
                        </div>
                   </div>
                  
        
                </div>
            </div>
    
        </section>
        <section id="user_section">
    <!-- Profile Information Section -->
    <div id="one" class="main_divs">
        <!-- Profile Photo and Name -->
        <div id="photo">
            <img id="profileImage" src="https://cdn.pixabay.com/photo/2016/08/31/11/54/icon-1633249_640.png " alt="Profile Photo">
        </div>
        <h3 id="profile_pt"><?php echo $firstName; ?></h3>
        <!-- User Email -->
        <p id="p_email"><?php echo $_SESSION['email']; ?></p>
        <!-- Change Photo Button -->
        <div>
            <button style="width: 150px ; height: 30px ;" class="ui-button ui-widget ui-corner-all" id="changePhotoBtn">Change Photo</button>
        </div>
    </div>

    <!-- Photo Selection Modal -->
    <div id="photoModal" class="pmodal">
        <div class="pmodal-content">
            <span class="pclose">&times;</span>
            <h2>Choose Profile Photo</h2>
            <!-- Photo Options -->
            <div id="photoOptions">
                <img class="photoOption" src="https://cdn.pixabay.com/photo/2017/01/31/21/23/avatar-2027366_640.png" alt="Photo 1">
                <img class="photoOption" src="https://cdn.pixabay.com/photo/2014/03/25/16/24/female-296990_640.png" alt="Photo 2">
                <img class="photoOption" src="https://cdn.pixabay.com/photo/2016/08/31/11/54/icon-1633249_640.png" alt="Photo 2">
            </div>
        </div>
    </div>

    <!-- Profile Information Form -->
    <div id="two" class="main_divs"> 
        <h2> Profile Information</h2><br>
        <!-- Profile Information Form -->
        <form id="profileForm" method="POST">
            <!-- First Name and Last Name Fields -->
            <label style="margin-right: 41%;" for="f_name">First Name</label>
            <label for="l_name">Last Name</label><br><br>
            <input style="margin-right: 20%;" type="text" id="f_name" name="f_name" size="30" value="<?php echo $firstName; ?>" required>
            <input type="text" id="l_name" name="l_name" size="30" value="<?php echo $lastName; ?>" required><br><br>
            <!-- Address Field -->
            <label for="address">Address</label><br><br>
            <input id="address" name="address" size="85" value="<?php echo $address; ?>" required><br><br>
            <!-- City and Birth Date Fields -->
            <label style="margin-right: 47%;" for="city">City</label>
            <label for="date_of_birth">Birth Date</label><br><br>
            <input style="margin-right: 20%;" type="text" id="city" name="city" size="30" value="<?php echo $city; ?>" required>
            <input type="text" id="date_of_birth" size="30" name="date_of_birth" value="<?php echo $dateOfBirth; ?>" required><br><br>
            <!-- Zip Code and Phone Number Fields -->
            <label style="margin-right: 43%;" for="zip_code">Zip Code</label>
            <label for="phone">Phone Number</label><br><br>
            <input style="margin-right: 20%;" id="zip_code" name="zip_code" size="30" value="<?php echo $zipCode; ?>" required>
            <input type="tel" id="phone" name="phone" size="30" value="<?php echo $phoneNumber; ?>" required><br><br><br>
            <!-- Update Profile Button -->
            <button type="submit" id="update_info" name="update_info">Update Profile</button>
        </form>
    </div>
</section>

    </article>
    <footer class="section-p1">
    <div class="col">
        <h4>Contact</h4>
        <p><strong>Address:</strong> 512 King street w, Toronto</p>
        <p><strong>Phone:</strong> (+1)4376666669</p>
        <p><strong>Hours:</strong> 10:00 - 18:00, Mon-Sat</p>
    </div>
    <div class="col col2">
        <h4>Follow Us</h4>
        <div class="icon">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </div>
    </div>
<div class="col">
    <h4>About</h4>
    <a href="#">About us</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact Us</a>
</div>
<div class="copyright">
    <p>&copy; 2024, SiSiManu</p>
</div>
</footer>


    <script src="/JS/user.js"></script>

</body>
</html>