/* Set body height */
body{
    height: 200px;  
}

/* Styling for the profile header */
#profile_header{
    background-color: black;
    margin-bottom: 0;
    border-radius: 10px;
}

/* Styling for the side list */
#sidelist{
    background-color: rgb(255, 203, 112);
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    float: left; 
    width: 20%; 
    padding-right: 20px;
    padding-bottom: 20%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

/* Styling for the profile email */
#p_email{
    margin-top: 0%;
    margin-right: 30%;
    margin-left: 0%;
}

/* Styling for the main content area */
#main{
    background-color: #d7f6fc;
    width: 90%;
    margin: 5%;
    padding: 1.6%;
    margin-top: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);   
}

/* Styling for the hello user section */
#hello_user{
    background-color: antiquewhite;
    border-radius: 10px;
    width: 8%;
}

/* Styling for the user section */
#user_section {
    margin-left: 27%; 
}

/* Styling for sections with id 'one' */
#one{
    background-color: #FFCB70;
    padding: 1%;
    margin: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Styling for sections with id 'two' */
#two{
    background-color:#FFCB70;
    margin: 2%;
    padding: 2%;
    padding-left: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);   
}

/* Styling for image */
#img1{
   height: 15px;
   width: 15px;    
}

/* Styling for the header div */
#head_div{
    border-radius: 10px;
    background-color: #131210;
    color: aliceblue;
    padding: 0.5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);    
}

/* Styling for sections with id 'one', 'two', 'sidelist', 'main' */
#one, #two, #sidelist,#main {
    border-radius: 10px; 
}

/* Styling for the header div sections and div */
#head_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Styling for the header div sections */
#head_div section {
    grid-column: 1;
}

/* Styling for the header div div */
#head_div div {
    grid-column: 2;
    text-align: right;
}

/* Styling for the update info */
#update_info{
    width: 600px;
    height: 24px;
    margin-left: 1%;
}

/* Styling for the photo */
#photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
}

/* Styling for the profile image */
#photo #profileImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;    
}

/* Styling for the profile pt */
#profile_pt {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Styling for the profile email */
#p_email {
    font-size: 16px;
    color: #666;
}

/* Styling for the profile modal */
.pmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Styling for the modal content */
.pmodal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

/* Styling for the close button in the modal */
.pclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.pclose:hover,
.pclose:focus {
    color: black;
    text-decoration: none;
}

/* Styling for photo option */
.photoOption {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

/* Styling for the background modal */
.modal, .modal_2, .modal_3, .modal_4 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

/* Styling for the modal content */
.modal-content, .modal-content_2, .modal-content_3, .modal-content_4 {
    background-color: #e0ddd8;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    text-align: justify;
    border-radius: 10px;
}

/* Styling for the close button in the modal content */
.close, .close_2, .close_3, .close_4 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for the accordion header */
.accordion-header {
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Styling for the accordion content */
.accordion-content {
    display: none;
    padding: 10px;
}

/* Styling for active accordion items */
.accordion-item.active .accordion-content {
    display: block;
}

/* Styling for the header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    width: 90%;
    height: 50px;
    background-color: #FFCB70;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* Styling for the logo */
#header img{
    width: 200px;
    height: 170px;
}

/* Styling for the navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for navbar list items */
#navbar li{
    list-style: none;
    padding:0 20px;
    position: relative;
}

/* Styling for navbar links */
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

/* Styling for navbar links on hover and when active */
#navbar li a:hover,
#navbar li a.active {
    color: #453212;
}

/* Styling for the underline effect on navbar links */
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #5d4419;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Styling for mobile view */
#mobile {
    display: none;
    align-items: center;   
}
/* Styling for the footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Styling for columns within the footer */
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Styling for footer headings */
footer h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    padding-bottom: 10px;
    margin-bottom: 1px;
    align-items: flex-start;
}

/* Styling for footer paragraphs */
footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px; 
    margin: 0 0 8px 0;
    padding-top: 0;
}

/* Styling for footer links */
footer a{
    text-decoration: none;
    color: #0a0a0a;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px; 
    margin: 0 0 10px 0;
    cursor: pointer;
}

/* Styling for the copyright section */
footer .copyright {
    text-align: center;
    width: 100%;
    padding: 0 0 0 100px;
}

/* Styling for social media icons */
footer i{
    cursor: pointer;
    padding: 0 8px;
}

/* Styling for column 2 in the footer */
footer .col2 {
    align-items: center;
}

/* Styling for footer links and icons on hover */
footer a:hover,
footer i:hover {
    color: #088178;
}

/* Media query for smartphones */
@media screen and (max-width: 600px) {
    /* Styling adjustments for smaller screens */
    #sidelist{
        margin-bottom: 3%;
        width: 95%; 
        padding-right: 0;
        padding-bottom: 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    #navbar.active {
        right: 0;
    }
    #p_email{
        margin-left: 2%;
    }
    #sidelist ul li{
        display: flex; /* Use flexbox */
        flex-direction: column-reverse; 
        padding-right: 7%;
    }
    #main{
        float: clear;
        overflow: auto;
        display: flex; /* Use flexbox */
        flex-direction: column; 
    }
    #one, #two, #sidelist,#main {
        border-radius: 10px;
    }
    #profile_header{
        background-color: black;
        margin-bottom: 0;
        border-radius: 10px;
    }
    #one {
        display: flex; /* Use flexbox */
        flex-direction: column; 
    }
    #u_email{
        margin-top: 10%;
    }
    #user_section {
        margin-left: 0; 
    }
    #one{
        background-color: #FFCB70;
        padding: 1%;
        margin: 2%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    #f_name, #l_name, #city, #date_of_birth, #zip_code, #phone{
        margin-top: 3%;
        width: 30%;
    }
    #address{
        width: 95%;
    }
    #update{
        margin-left: 36%;
    }
    #two{
        background-color:#FFCB70;
        margin: 2%;
        padding: 2%;
        padding-left: 10%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        display: flex; /* Use flexbox */
        flex-direction: column;
    }
    #update_info{
        width: auto;
        margin-left: 30%;
    }
}
/* Styles for tablets */
@media only screen and (min-width: 600px) and (max-width: 1024px) {

/* Padding adjustments for account settings */
#account_settings{
    padding-left: 6%;
    padding-right: 2%;
}

/* Styling adjustments for form fields */
#f_name, #l_name, #city, #date_of_birth, #zip_code, #phone{
    margin-top: 3%;
    width: 30%;
}

/* Styling adjustments for navbar in active state */
#navbar.active {
    right: 0;
}


/* Overflow adjustment for #one element */
#one{
    overflow: auto;
}

/* Margin adjustment for update button */
#update{
    margin-left: 36%;
}

/* Width adjustment for update info section */
#update_info{
    width: 55%;
    margin-left: 15%;
}

}

@media only screen and (min-width: 60px) and (max-width: 760px) {

/* Styling adjustments for form fields */
#first_name, #last_name, #city, #date_of_birth, #postal_code, #phone{
    width: 32%;
}

/* Styling adjustments for navbar in active state */
#navbar.active {
    right: 0;
}

/* Width adjustment for address field */
#address{
    width: 82%;
}

/* Margin adjustment for update button */
#update{
    margin-left: 30%;
}

}

@media only screen and (min-width: 600px) and (max-width: 900px) {

/* Width adjustment for address field */
#address{
    width: 85%;
}

/* Margin adjustment for update button */
#update{
    margin-left: 36%;
}

/* Padding adjustment for side list */
#sidelist{
    padding-bottom: 25%;
}

}

@media only screen and (min-width: 900px) and (max-width: 1200px) {

/* Margin adjustment for email field */
#p_email{
    margin-left: 0%;
}

/* Styling adjustments for form fields */
#first_name, #last_name, #city, #date_of_birth, #postal_code, #phone{
    width: 30%;
}

/* Width adjustment for address field */
#address{
    width: 82%;
}

/* Margin adjustment for update button */
#update{
    margin-left: 36%;
}

/* Padding adjustment for side list */
#sidelist{
    padding-bottom: 25%;
}

/* Styling adjustments for form fields */
#f_name, #l_name, #city, #date_of_birth, #zip_code, #phone{
    margin-top: 3%;
    width: 30%;
}

/* Width adjustment for update info section */
#update_info{
    width: 55%;
    margin-left: 15%;
}

}

/* Media query for navbar on smaller screens */
@media (max-width: 900px) {
/* Styling adjustments for navbar */
#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:0;
    right: -400px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
}

/* Styling adjustments for navbar in active state */
#navbar.active {
    right: 0;
}

/* Styling adjustments for mobile navigation */
#mobile #bar{
    display: initial;
}

/* Styling adjustments for navbar list items */
#navbar li{
    margin-bottom: 25px;
}

/* Styling adjustments for mobile navigation */
#mobile {
    display: flex;
    align-items: center;
}

/* Styling adjustments for mobile navigation */
#mobile i{
    text-decoration: none;
    color: #0a0a0a;
    padding: 0 10px;
    cursor: pointer;
}

/* Styling adjustments for navbar */
#bar{
    z-index: 999;
    margin-right: 35px;
}

/* Styling adjustments for banner */
#banner {
    height: 70vh;
    padding: 0 80px;
}

/* Styling adjustments for header */
#header {
    padding: 20px 41px;
}

/* Styling adjustments for product cards */
#trend .pro {
    width: 40%;
    min-width: 250px;
    margin: 15px 15px;
}

/* Styling adjustments for category boxes */
.section-p1 .ce-box {
    width: 120px;
    margin: 10px 5px;
}

/* Styling adjustments for category box images */
#categories .ce-box img {
    height: 120px;
    width: 120px;
}

/* Styling adjustments for banner boxes */
#sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
}

/* Styling adjustments for small banner */
#sm-banner {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Styling adjustments for product banner */
#product-banner{
    height: 48vh;
}

}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {

/* Styling adjustments for form fields */
#first_name, #last_name, #city, #date_of_birth, #postal_code, #phone{
    width: 30%;
}

/* Styling adjustments for address field */
#address{
    width: 82%;
}

/* Margin adjustment for email field */
#p_email{
    margin-left: 0%;
    margin-top: 2px;
}

/* Margin adjustment for update button */
#update{
    margin-left: 36%;
}

/* Padding adjustment for side list */
#sidelist{
    padding-bottom: 20%;
}


#p_email{
    
    margin-left: 0%;
        }

    
        
    
       
   }